configuration {
    drun-display-format: "{icon} {name}";
    font: "Ubuntu 14";
    modi: "window,run,drun";
    show-icons: true;
    icon-theme: "Papirus";
}

@theme "/home/cafreo/.config/rofi/themes/intergalactic.rasi"