#set colored-stats
#set colored-completion-prefix

#set show-all-if-ambiguous
set completion-ignore-case

"\e[A": history-search-backward
"\e[B": history-search-forward

"\C-h": "cd\n"
"\C[A": "cd ..\n"
